<% layout('layouts/boilerplateHome') -%>
    <div class="d-flex justify-content-center container-fluid flex-column glomaintext mt-5">

        <h1 class="mt-5">Glocacity</h1>
        <p class="lead"> Welcome to Glocacity! <br> We are starting with collection of shooting
            ranges.
            <br>
            Feel free to share some of your own and comment on others!
        </p>
        <div><a href="/ranges" class="btn btn-lg btn-success">View
                Ranges</a></div>

    </div>